<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.cloud.generator.mapper.MySQLMapper">
	<select id="getTableList" resultType="com.yh.cloud.generator.model.po.TablePo">
		SELECT
			table_name tableName,
-- 			engine engine,
			table_comment tableComment,
			create_time createTime
		FROM
			information_schema.tables
		WHERE table_schema = (SELECT database())
		<if test="p.tableName != null and p.tableName.trim() != ''">
			AND table_name LIKE concat('%', #{p.tableName}, '%')
		</if>
		ORDER BY create_time DESC
	</select>

	<select id="getTableColumn" resultType="com.yh.cloud.generator.model.po.ColumnPo">
		SELECT
			column_name columnName,
			data_type dataType,
			column_comment columnComment,
			column_key columnKey,
			extra
		FROM
			information_schema.COLUMNS
		WHERE
			table_name = #{tableName}
		  	AND table_schema = (SELECT database())
		ORDER BY ordinal_position
    </select>
</mapper>